@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" dir="ltr">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--
    - CSRF token
    -->
    <meta name="csrf-token" content="@Antiforgery.GetAndStoreTokens(ViewContext.HttpContext).RequestToken">

    <!--
      - primary meta tags
    -->
    <title>@ViewData["Title"] - Senior Project</title>
    <meta name="title" content="Senior Project">
    <meta name="description" content="Build your online store and start selling with ease. Our all-in-one platform empowers you to create, customize, and manage your store, showcase products, track sales analytics, engage customers, and grow your business. Join today and launch your e-commerce journey with tools designed for success.">

    <!--
      - favicon
    -->
    <link rel="shortcut icon" href="/Assets/Images/SP.jpeg" type="image/jpeg">

    <!--
      - google font links
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!--
      - google icons links
    -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0..1,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0..1,0" />

    <!--
      - font awesome icons
    -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

    <!--
    - custom css links
    -->
    <link rel="stylesheet" href="/css/headers/primary-header.css">
    <link rel="stylesheet" href="/css/pages/main.css">
    <link rel="stylesheet" href="/css/footers/primary-footer.css">

    <!--
      - custom js links
    -->
    <script src="/js/headers/primary-header.js" defer></script>
    <script src="/js/pages/main.js" defer></script>
    <script src="/js/modals/home-page-preview-modal.js" defer></script>
    <script src="/js/fetch-products/fetchProducts.js"></script>

    <!--
      - GSAP animation library
    -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>

    <!--
      - Preload images
    -->
    <link rel="Preload" href="/Assets/Videos/Island.mp4" as="video" type="video/mp4">
    <link rel="Preload" href="/Assets/Videos/Nike-Zoom.mp4" as="video" type="video/mp4">
    <link rel="Preload" href="/Assets/Videos/CHANEL-Iconic.mp4" as="video" type="video/mp4">
    <link rel="Preload" href="/Assets/Videos/Nike-Women.mp4" as="video" type="video/mp4">
    <link rel="Preload" href="/Assets/Videos/Philips.mp4" as="video" type="video/mp4">
  </head>
  <body>

    <!--
      - #HEADER
    -->

    @Html.Partial("_MainHeader")

    <!--
      - #MAIN
    -->
    
    @RenderBody()

    <!--
      - #FOOTER
    -->

    @Html.Partial("_MainFooter")

  </body>
</html>